<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>CSS Generator API</title>

		<!-- ICON -->
		<link rel="icon" href="assets/logo.svg" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<div class="wrapper">
			<nav>
				<h1>CSS Generator API</h1>
                <ul>
				    <li><a href="#">API</a></li>
                    <li><a href="#">Generators</a></li>
                    <li><a href="#">Contributors</a></li>
                </ul>
			</nav>

			<main class="hero">
				<section>
					<h1>CSS Generator API</h1>
					<p>
						Provides a directory of websites that 
                        generate different CSS design elements.
                        Search for a CSS generator by relevant keywords.
					</p>
				</section>
			</main>

			<section class="documentation">
				
                <h2>Documentation</h2>
				<section class='object-table'>
					<p>Each website has the following information stored as an object.</p>
                    <p>There are 5 properties/keys that come with each website's object:</p>
					<table class="darkTable">
						<thead>
						<tr>
						<th id='property'>PROPERTY</th>
						<th id='description'>DESCRIPTION OF PROPERTY</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						    <td id='name'>name</td><td>[String] Name or title of the website. </td>
                        </tr>
                        <tr>
						    <td id='image'>image</td><td>[String] Image of the website. </td>
                        </tr>
						<tr>
						    <td id='url'>url</td><td>[String] Link to website.</td>
                        </tr>
						<tr>
						    <td id='description'>url</td><td>[String] A brief description about what the website can generate.</td>
                        </tr>
                        <tr>
						    <td id='keywords'>keywords</td><td id='array'>[Array] Relevant keywords related to the generator.</td>
                        </tr>
						</tbody>
					</table>
				</section>
				
                <h2>Endpoints</h2>
				<section class='endpoints'>
					<div class='url'>
						<p>Each website object is stored in the <span class="websitesSpan">websites</span> array.</p>
                        <p>Direct link to the entire <span class="websitesSpan">websites</span> array:</p>
						<a href="https://cssgenerator.com/api">https://cssgenerator.com/api</a>
						<p>*The "/api" endpoint will return every website object in the array.</p>
                        <p>Link to filtered objects that contain a specified keyword:</p>
						<p>https://coding-resources-api.herokuapp.com/api/<span>&ltkeyword&lt</span></p>
						<p>*The "/api/keyword" endpoint accepts a keyword that will be used to search through the <span class="websitesSpan">websites</span>array.</p>
					</div>
					<div class='js-fetch'>
						<p>Example code-block of how to fetch with JavaScript:</p>
						<code id='js-example'>
                            const URL = `https://cssgenerator.com/api/<span>${keyword}</span>`;
							fetch(URL)
							&emsp;&emsp;&emsp;.then(res => res.json())
							&emsp;&emsp;&emsp;.then(data => console.log(data))
							&emsp;&emsp;&emsp;.catch(err => console.error(err));
                        </code>
					</div>
				</section>
			</section>

			<h2 id='contributors-title'>Contributors</h2>
			<section class="contributors">	
					<div class='card' id='alexisintech'>
						<img src="public/assets/Alex.png" alt="Alexis' photo">
						<div class='cont-info'>
							<h4>Alexisintech</h4>
							<div class='icons'>
								<a href='https://twitter.com/alexisintech/' target='_blank'><i class="fa-brands fa-twitter"></i></a>
								<a href='https://www.linkedin.com/in/alexisintech/' target='_blank'><i class="fa-brands fa-linkedin"></i></a>
								<a href='https://github.com/alexisintech/' target='_blank'><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
			</section>

			<footer>
				<p>Thank You!</p>
				<a href='https://github.com/the-api-administration/' target='_blank'><img src="public/assets/logo.svg" alt="logo" /></a>
				<p>
                    Bugs? Features? Please report them here: <a href="https://github.com/the-api-administration/css-generator-api/issues" target='_blank'>GitHub</a>.
				</p>
				<hr>
				<p>We would love to see what you are making with this API. Please tweet at us!</p>
			</footer>

		</div>

	</body>
	<script src="js/main.js"></script>
</html>
