/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/

/* END OF CSS RESET */

/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/
/* UNIVERSAL STYLING */
/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/

html {
    scroll-behavior: smooth;
}

* {box-sizing: border-box;}

:root {
    --primary: rgb(14, 42, 71);
    --secondary: rgb(220, 222, 255);
    --accent: rgb(240, 211, 247);
    --text-accent: #b010d8;
}

a:hover * {
    color: var(--accent);
}

/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/
/* BASE STYLES */
/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    display:flex;
    flex-direction:column;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Navigation Bar */
/* ~~~~~~~~~~~~~~~~~~~~ */

nav {
    /* position:absolute; */
    background-color: transparent;
    color:white;
    overflow:hidden;
    text-transform:uppercase;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 3rem;
    height:4rem;
}

nav h1, nav li, .hero h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

nav h1 {
    font-size:2rem;
}

nav ul {
    display:flex;
    gap:1rem;
    align-items:center;
}

nav li {
    list-style:none;
    font-size:1.3rem;
}

nav li a {
    color:rgba(255,255,255,0.8);
    text-decoration: none;
}

/* Create a sticky nav! */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary);
}

/* Is toggled when user scrolls - makes nav transparent */
.transparent {
    background-color: var(--primary);
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Back to top button */
/* ~~~~~~~~~~~~~~~~~~~~ */

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    color: #090909;
    padding: 1em 1.5em;
    font-size: 24px;
    border-radius: 1em;
    background: #eeeeee;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #cfcfcf;
}
   
#backToTop:hover {
 border: 1px solid white;
}

#backToTop:active {
 box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Hero */
/* ~~~~~~~~~~~~~~~~~~~~ */

.hero {
    height: 40rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1022)'%3e%3c/rect%3e%3cpath d='M525.023934591239 583.3617974686356L529.3526794105469 459.40276442582586 401.0649015484293 579.0330526493277z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1310.5566703002025 78.9736627674144L1372.1465290187277 190.0847091360541 1483.2575753873675 128.49485041752882 1421.6677166688423 17.383804048889118z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M855.8991355357058 221.19229066308495L881.3633147580048 61.40353003781743 748.4503178179093 109.77990467112706z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1291.0457413095037 315.20680732425416L1328.9608750530413 404.5292648544911 1418.2833325832783 366.61413111095345 1380.3681988397407 277.2916735807165z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M594.21 282.72 a93.68 93.68 0 1 0 187.36 0 a93.68 93.68 0 1 0 -187.36 0z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M375.169%2c244.766C394.224%2c244.021%2c409.42%2c230.774%2c418.981%2c214.274C428.574%2c197.72%2c433.811%2c177.205%2c423.748%2c160.932C414.045%2c145.242%2c393.606%2c142.784%2c375.169%2c143.428C358.116%2c144.023%2c341.66%2c149.977%2c332.13%2c164.13C321.296%2c180.219%2c315.856%2c200.838%2c324.989%2c217.95C334.56%2c235.883%2c354.858%2c245.561%2c375.169%2c244.766' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M139.41 287.08 a158.79 158.79 0 1 0 317.58 0 a158.79 158.79 0 1 0 -317.58 0z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M637.5699381731997 68.26695189356347L484.79544127659193 0.24736349161378257 416.7758528746422 153.02186038822157 569.55034977125 221.04144879017127z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1353.83204343659 130.33289657748037L1436.1284121015822 17.06166262655485 1322.8571781506566-65.23470603843722 1240.5608094856645 48.036527912488296z' fill='rgba(201%2c 139%2c 217%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1022'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1 {
    font-size: 5rem;
    font-weight:400;
}

.hero p {
    font-size:1.5rem;
}

.hero h1, .hero p {
    color:rgba(255,255,255,0.8);
}

.hero h1 + p {
    margin-top:1rem;
}

.hero h1 + p + p {
    margin-top: 0.3rem;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    font-weight:600;
    font-size:4rem;
}

.documentation, .endpoints, .allGenerators {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap: 2.5rem;
    padding-top: 10rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Documentation */
/* ~~~~~~~~~~~~~~~~~~~~ */

.documentationDescription {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    font-size:2rem;
}

/* Documentation Table */

table.darkTable {
	background-color: #FFFFFF;
	height: 200px;
	text-align: center;
    width:60rem;
    margin-top:1rem;
}

table.darkTable td, table.darkTable th {
	padding: 10px 6px;
}

table.darkTable tbody td {
	font-size: 1.4rem;
	color: var(--primary);
}

table.darkTable tr:nth-child(even) {
	background: rgb(220, 222, 255);
}

table.darkTable thead {
	background: var(--primary);
	border-bottom: 3px solid var(--primary);
}

table.darkTable thead th {
	font-size: 1.8rem;
	font-weight: bold;
	color: white;
	text-align: center;
}

table.darkTable thead th:first-child {
	border-left: none;
}

table.darkTable tfoot td {
	font-size: 12px;
}

.tableProperty {
	border-right: 2px solid var(--primary);
}

table.darkTable {
    border: 2px solid var(--primary);
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Endpoints */
/* ~~~~~~~~~~~~~~~~~~~~ */

.endpoints {
    padding-left: 8rem;
    padding-right: 8rem;
    width:100%;
}

.endpointsColumns {
    display:flex;
    gap:10rem;
    margin-top:2rem;
}

.url, .js-fetch {
    display:flex;
    flex-direction:column;
    width:50%;
    /* gap:1rem; */
}

.urlP {
    font-size:1.5rem;
}

.url > p, .js-fetch > p {
    font-size: 2rem;
    text-align: left;
}

.keywordSpan {
    color: var(--text-accent);
}

.url {
    text-align:left;
}

.urlP {
    display:flex;
    flex-direction:column;
    gap: 1rem;
    margin-top:2rem;
    margin-left:1.5rem;
}

.websitesSpan {
    font-style: italic;
}

.endpointsURL {
    display:flex;
    align-items:center;
    background-color: var(--secondary);
    color: rgb(56, 56, 56);
    height:3rem;
    font-size: 1.4rem;
    /* border-radius:12px; */
    margin-left:2rem;
    padding-left:2rem;
}

.smallP {
    color: rgb(56, 56, 56);
    font-size:1rem;
    padding-left:3.5rem;
}

.js-fetch code {
	background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* border-radius: 12px; */
    font-size: 1.4rem;
    padding: 1rem 2rem;
    gap: 0.5rem;
    margin-top: 2rem;
    height: 14rem;
}

.js-fetch code p:nth-child(2) {
    margin-top:1rem;
}

.indent {
    padding-left:1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* All Generators */
/* ~~~~~~~~~~~~~~~~~~~~ */

.allGenerators {
    padding-bottom:10rem;
}

.api-test {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
    margin-top:2rem;
}

.api-test form {
	width: 50%;
	height: 3.5rem;
	display: flex;
	justify-content: center;
}

.api-test form input {
	width: 65%;
	padding: 0 0;
	/* border-radius: 15px 0px 0px 15px; */
	font-size: 1.5rem;
	padding-left: 1.5rem;
	transition: width 500ms ease;
	border: solid 3px rgb(30, 30, 30);
	font-size: 1.5rem;
	font-weight: 600;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.api-test form input::placeholder {
	font-size: 1.5rem;
	color: #afafaf;
	font-weight: 600;
}

.api-test form input:focus {
	width: 70%;
}

.api-test form input:focus {
	outline: none;
}

.api-test form button {
	width: 10%;
	background-color: rgb(30, 30, 30);
	border: solid 2px rgb(30, 30, 30);
	/* border-radius: 0 15px 15px 0; */
	font-size: 20px;
}

.api-test form button i {
	color: lightgray;
	transition: 0.3s;
}

.api-test form button:hover {
	cursor: pointer;
}

.api-test form button:hover > i {
	color: #fff;
}

.youSearchedFor {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:4rem;
    gap:0.5rem;
}

h3, #test-keyword {
    font-size:2rem;
}

#test-keyword {
    font-weight: 600;
    color: var(--text-accent);
}

.resultsColumn {
    display:flex;
    margin-top:4rem;
    padding: 0 6rem;
}

.result code, .result code div {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:Center;
    font-size:1.5rem;
}

.result code, .result code div {
    gap:1rem;
}

.resultsColumn ul {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 2.5rem;
}

.resultsColumn li {
    display:flex;
    width:45%;
    overflow-wrap:break-word;
    padding: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.resultsColumn p {
    overflow-wrap:break-word;
    font-size:1.5rem;
}

#result-list img {
    width:75%;
}


/* Footer */

footer {
	background-color: var(--primary);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
    font-size:1rem;
	padding: 2rem 0;
    gap:1.5rem;
}

footer img {
    width:50%;
}

footer a {
	color: var(--text-accent)
}

hr {
	border: 1px solid var(--accent);
	width: 80% ;
}

footer span {
    text-transform: uppercase;
}

footer span a {
    color:white;
    text-decoration: none;
}

footer span a:hover {
    text-decoration:underline;
    color: var(--text-accent)
}


/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/
/* RESPONSIVENESS */
/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/

/* Large laptops - 1440px */
@media all and (max-width: 1441px) {

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Navigation Bar */
/* ~~~~~~~~~~~~~~~~~~~~ */

nav {
    padding: 0 3rem;
    height:4rem;
}

nav h1 {
    font-size:2rem;
}

nav ul {
    gap:1rem;
}

nav li {
    font-size:1.3rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Back to top button */
/* ~~~~~~~~~~~~~~~~~~~~ */

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    color: #090909;
    padding: 1em 1.5em;
    font-size: 24px;
    border-radius: 1em;
    background: #eeeeee;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #cfcfcf;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Hero */
/* ~~~~~~~~~~~~~~~~~~~~ */

.hero {
    height: 40rem;
}

.hero h1 {
    font-size: 4rem;
}

.hero p {
    font-size:1.2rem;
}

h2 {
    font-size:3.5rem;
}

.documentation, .endpoints, .allGenerators {
    gap: 2.5rem;
    padding-top: 10rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Documentation */
/* ~~~~~~~~~~~~~~~~~~~~ */

.documentationDescription {
    font-size:1.7rem;
}

/* Documentation Table */

table.darkTable {
    width:55rem;
    margin-top:1rem;
}

table.darkTable td, table.darkTable th {
	padding: 10px 6px;
}

table.darkTable tbody td {
	font-size: 1.2rem;
}

table.darkTable thead th {
	font-size: 1.4rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Endpoints */
/* ~~~~~~~~~~~~~~~~~~~~ */

.endpoints {
    padding-left: 7rem;
    padding-right: 7rem;
    width:100%;
}

.endpointsColumns {
    gap:8rem;
    margin-top:2rem;
}

.url > p, .js-fetch > p {
    font-size: 1.5rem;
}

.urlP {
    gap: 1rem;
    margin-top:2rem;
    margin-left:1.5rem;
    font-size:1.3rem;
}

.endpointsURL {
    height:3rem;
    font-size: 1.1rem;
    margin-left:2rem;
    padding-left:2rem;
}

.smallP {
    font-size:0.9rem;
    padding-left:3.5rem;
}

.js-fetch code {
    font-size: 1.1rem;
    padding: 1rem 2rem;
    gap: 0.5rem;
    margin-top: 2rem;
    height: 13rem;
}

.js-fetch code p:nth-child(2) {
    margin-top:1rem;
}

.indent {
    padding-left:1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* All Generators */
/* ~~~~~~~~~~~~~~~~~~~~ */

.allGenerators {
    padding-bottom:10rem;
}

.api-test {
    margin-top:2rem;
}

.api-test form {
	width: 50%;
	height: 3.5rem;
}

.api-test form input, .api-test form input::placeholder {
	font-size: 1.2rem;
	
}

.api-test form input {
	padding-left: 1.5rem;
}

.youSearchedFor {
    margin-top:4rem;
    gap:0.5rem;
}

h3, #test-keyword {
    font-size:1.8rem;
}

.resultsColumn {
    margin-top:4rem;
    padding: 0 6rem;
}

.result code, .result code div, .resultsColumn p {
    font-size:1.3rem;
}

.result code, .result code div {
    gap:1rem;
}

.resultsColumn ul {
    gap: 2.5rem;
}

.resultsColumn li {
    padding: 3rem;
}

#result-list img {
    width:75%;
}

/* Footer */

footer {
    font-size:1rem;
	padding: 2rem 0;
    gap:1.5rem;
}

} /* End of Large laptops - 1440px */

/* Medium laptops - 1280px */
@media all and (max-width: 1281px) {

.documentation, .endpoints, .allGenerators {
    gap: 2.5rem;
    padding-top: 8rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Documentation */
/* ~~~~~~~~~~~~~~~~~~~~ */

.documentationDescription {
    font-size:1.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Endpoints */
/* ~~~~~~~~~~~~~~~~~~~~ */

.endpoints {
    padding-left: 8rem;
    padding-right: 8rem;
}

.endpointsColumns {
    gap:5rem;
}

.url > p, .js-fetch > p {
    font-size: 1.3rem;
}

.urlP {
    gap: 1rem;
    margin-top:1.5rem;
    margin-left:1.5rem;
    font-size:1.1rem;
}

.endpointsURL {
    height:2.5rem;
    font-size: 1rem;
    padding-left:1.8rem;
}

.smallP {
    font-size:0.8rem;
}

.js-fetch code {
    font-size: 1rem;
    height: 12rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* All Generators */
/* ~~~~~~~~~~~~~~~~~~~~ */

.allGenerators {
    padding-bottom:8rem;
}

.api-test {
    margin-top:1.8rem;
}

.api-test form {
	width: 50%;
	height: 3.2rem;
}

.api-test form input, .api-test form input::placeholder {
	font-size: 1rem;
	
}

.youSearchedFor {
    margin-top:3rem;
}

h3, #test-keyword {
    font-size:1.3rem;
}

.resultsColumn {
    margin-top:3rem;
}

.result code, .result code div, .resultsColumn p {
    font-size:1rem;
}

.resultsColumn li {
    padding: 2.7rem;
}

} /* End of Medium Laptops - 1280px */

/* Small laptops - 1024px */
@media all and (max-width: 1025px) {

nav h1 {
    font-size:1.5rem;
}

nav li {
    font-size:1rem;
}

.hero {
    height:35rem;
}

.hero h1 {
    font-size:3rem;
}

.hero p {
    font-size:1rem;
}

h2 {
    font-size:2.8rem;
}

.documentation, .endpoints, .allGenerators {
    gap: 2rem;
    padding-top: 7rem;
}

.documentationDescription {
    font-size: 1.2rem;
}

table.darkTable {
    width: 44rem;
    margin-top: 0.5rem;
}

table.darkTable thead th {
    font-size: 1.1rem;
}

table.darkTable tbody td {
    font-size: 1rem;
}

.endpoints {
    padding-left: 7rem;
    padding-right: 7rem;
}

.endpointsColumns {
    gap: 4rem;
    margin-top:1rem;
}

.url > p, .js-fetch > p {
    font-size: 1rem;
}

.urlP {
    gap: 0.6rem;
    font-size: 0.8rem;
}

.endpointsURL {
    height: 2rem;
    font-size: 0.7rem;
    padding-left: 1.8rem;
}

.smallP {
    font-size: 0.6rem;
}

.js-fetch code {
    font-size: 0.7rem;
    height: 10rem;
    margin-top:1.5rem;
}

.api-test {
    margin-top: 1.2rem;
}

.api-test form {
    height: 2.8rem;
}

.api-test form input {    
    padding-left: 1.1rem;
    border: solid 2px rgb(30, 30, 30);
}

.api-test form input, .api-test form input::placeholder {
    font-size: 0.8rem;
}

.youSearchedFor {
    margin-top: 2rem;
}

h3, #test-keyword {
    font-size: 1.1rem;
}

.resultsColumn li {
    padding: 2rem;
}

.result code, .result code div, .resultsColumn p {
    font-size: 0.8rem;
}

footer {
    font-size: 1rem;
    padding: 2rem 0;
    gap: 1rem;
}

footer img {
    width: 35%;
}

footer p {
    font-size:0.8rem;
}

footer span {
    font-size:0.6rem;
}

} /* End of Small Laptops - 1024px */

/* Large phone screens - 425px */
@media all and (max-width: 450px) {

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Navigation Bar */
/* ~~~~~~~~~~~~~~~~~~~~ */

nav {
    padding: 0 1rem;
    height:3rem;
}

nav h1 {
    font-size:1rem;
}

nav li {
    font-size:0.8rem;
}

nav li a {
    color:rgba(255,255,255,0.8);
    text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Back to top button */
/* ~~~~~~~~~~~~~~~~~~~~ */

#backToTop {
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 12px;
    box-shadow: 3px 3px 10px #cfcfcf;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Hero */
/* ~~~~~~~~~~~~~~~~~~~~ */

.hero {
    height: 25rem;
}

.hero h1 {
    font-size: 2rem;
}

.hero p {
    font-size:0.6rem;
}

h2 {
    font-size:2.5rem;
}

.documentation, .endpoints, .allGenerators {
    gap: 1rem;
    padding-top: 6rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Documentation */
/* ~~~~~~~~~~~~~~~~~~~~ */

.documentation {
    gap:1.5rem;
}

.documentationDescription {
    font-size:1rem;
    padding: 0 3rem;
}

/* Documentation Table */

table.darkTable {
    width:21rem;
    margin-top: 0.5rem;
}

table.darkTable td, table.darkTable th {
	padding: 8px 6px;
}

table.darkTable tbody td {
	font-size: 0.8rem;
}

table.darkTable thead th {
	font-size: 0.8rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* Endpoints */
/* ~~~~~~~~~~~~~~~~~~~~ */

.endpoints {
    padding-left: 2rem;
    padding-right: 2rem;
}

.endpointsColumns {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:3rem;
    margin-top:1rem;
}

.url, .js-fetch {
    display:flex;
    flex-direction:column;
    width:100%;
    gap: 0.5rem;
}

.js-fetch {
    justify-content:center;
    align-items:center;
}

.urlP {
    font-size:0.8rem;
}

.url > p, .js-fetch > p {
    font-size: 1rem;
}

.urlP {
    display:flex;
    flex-direction:column;
    gap: 0.5rem;
    margin-top:1rem;
    margin-left:0.5rem;
}

.endpointsURL {
    height:1.5rem;
    font-size: 0.8em;
    margin-left:1.5rem;
    padding-left:1rem;
}

.smallP {
    font-size:0.5rem;
    padding-left:2.5rem;
}

.js-fetch code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.6rem;
    padding: 1rem 1rem;
    gap: 0.5rem;
    margin-top: 1rem;
    height: 9rem;
    width:80%;
}

.js-fetch code p:nth-child(2) {
    margin-top:0.8rem;
}

.indent {
    padding-left:1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */
/* All Generators */
/* ~~~~~~~~~~~~~~~~~~~~ */

.allGenerators {
    padding-bottom:6rem;
}

.api-test form {
	width: 75%;
	height: 1.5rem;
}

.api-test form input {
	padding-left: 0.5rem;
	font-size: 0.5rem;
    border: solid 1px rgb(30, 30, 30);
}

.api-test form input::placeholder {
	font-size: 0.5rem;
}

.api-test form input:focus {
	width: 70%;
}

.api-test form input:focus {
	outline: none;
}

.api-test form button {
    width:10%;
    padding: 0;
    display:flex;
    justify-content:Center;
    align-items:center;
}

.api-test form button i {
	font-size:0.8rem;
}

.youSearchedFor {
    margin-top:2rem;
    gap:0.5rem;
}

h3, #test-keyword {
    font-size:1rem;
}

.resultsColumn {
    display:flex;
    margin-top:2rem;
    padding: 0 1rem;
}

.result code, .result code div {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:Center;
    font-size:0.5rem;
    gap:0.5rem;
    overflow-wrap:break-word;
}

.resultsColumn ul {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap: 1rem;
}

.resultsColumn li {
    display:flex;
    width:75%;
    height:100%;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 8px 12px 1px;
}

.resultsColumn p {
    overflow-wrap:break-word;
    font-size:0.5rem;
}

#result-list img {
    width:25%;
}


/* Footer */

footer {
    gap:0.5rem;
}

footer img {
    width:25%;
}

footer p {
    font-size:0.6rem;
}

footer span {
    font-size: 0.6rem;
}

} /* End of Large phone screens - 425px */

/* Medium phone screens - 375px */
@media all and (max-width: 376px) {

h2 {
    font-size:2rem;
}

.documentation, .endpoints, .allGenerators {
    gap: 1rem;
    padding-top: 5rem;
}

.allGenerators {
    padding-bottom: 5rem;
}

.documentation {
    gap: 1rem;
}

.documentationDescription {
    font-size: 0.8rem;
    padding: 0 5rem;
}

table.darkTable {
    width: 18rem;
}

table.darkTable td, table.darkTable th {
    padding: 11px 7px;
}

table.darkTable thead th {
    font-size: 0.6rem;
}

table.darkTable tbody td {
    font-size: 0.6rem;
}

.url, .js-fetch {
    gap:0;
}

.url > p, .js-fetch > p {
    font-size: 0.8rem;
}

.api-test {
    margin-top: 0.8rem;
}

.youSearchedFor {
    margin-top: 1.2rem;
    gap:0.3rem;
}

h3, #test-keyword {
    font-size: 0.8rem;
}

.resultsColumn {
    margin-top: 1.2rem;
}

} /* End of Large phone screens - 375px */

/* Small phone screens - 320px */
@media all and (max-width: 321px) {

nav {
    height: 2.5rem;
}

nav h1 {
    font-size: 0.7rem;
}

nav li {
    font-size: 0.5rem;
}

.hero {
    height: 20rem;
}

.hero h1 {
    font-size: 1.5rem;
}

.hero h1 + p {
    margin-top: 0.8rem;
}

.hero p {
    font-size: 0.5rem;
}

h2 {
    font-size: 1.6rem;
}

.documentation, .endpoints, .allGenerators {
    gap: 1rem;
    padding-top: 4rem;
}

.allGenerators {
    padding-bottom: 4rem;
}

.documentationDescription {
    font-size: 0.6rem;
    padding: 0 4rem;
    gap:0.3rem;
}

table.darkTable {
    width: 14rem;
    margin-top: 0.3rem;
}

table.darkTable thead th, table.darkTable tbody td {
    font-size: 0.5rem;
}

table.darkTable td, table.darkTable th {
    padding: 10px 9px;
}

.endpointsColumns {
    gap:2rem;
    margin-top: 0.5rem;
}

.url > p, .js-fetch > p {
    font-size: 0.7rem;
}

.urlP {
    font-size: 0.6rem;
}

.js-fetch code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.4rem;
    padding: 1rem 1rem;
    gap: 0.3rem;
    margin-top: 1rem;
    height: 7rem;
    width: 80%;
}

} /* End of Small (most) phone screens - 320px */